# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
.gstack/
artifacts/
brag-output/
graphify-out/
.prompt-research/

# Local env files
.env
.env*.local
.env.*
!.env.example
*.log
test-storage/
*.tmp

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts
